body{
    font-family: Arial;
    padding: 0;
    margin: 0;
    border: 0;
}

header{
    background-color: rgb(83, 23, 23);
}

.logo{
    width: 10%;
    padding: 0 0 0 4%;
}

.titulo{
    padding: 0% 0% 0% 2.5%;
    font-weight: bold;
}

hr{
    background-color: brown;
    width: 95.3%;
}

.tabela{
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    margin: 30px auto;
}

thead{
    background-color: rgba(255, 220, 144, 0.774);
}

th,td{
    border: 1.5px solid rgba(128, 128, 128, 0.486);
    padding: 4px 135px;
}